<%= form_for(@ad, :url => {:action => "update"}) do |f| %>
	<%= f.hidden_field :id %>
	<div class="field">
		<%= f.label :name %>
		<%= f.text_field :name %>
	</div>
	
	<div class="field">
		<%= f.label :description %>
		<%= f.text_field :description %>
	</div>
	
	<div class="field">
		<%= f.label :price %>
		<%= f.text_field :price %>
	</div>
	
	<div class="field">
		<%= f.label :email %>
		<%= f.text_field :email %>
	</div>
	
	<div class="field">
		<%= f.label "Seller ID" %>
		<%= f.text_field :seller_id %>
	</div>
	
	<div class="field">
		<%= f.label "Image URL" %>
		<%= f.text_field :img_url %>
	</div>
	
	<%=  f.submit "Create this Ad" %>

<% end %> 


