
<div>
  <strong>Name:</strong>
  <%= @ad.name %>
</div>

<div>
  <strong>Description:</strong>
  <%= @ad.description %>
</div>

<div>
  <strong>Seller:</strong>
  <%= @ad.seller_id %>
</div>

<div>
  <strong>Email:</strong>
  <%= @ad.email %>
</div>

<div>
  <strong>Image URL:</strong>
  <%= @ad.img_url %>
</div>



